.checkbox {
    position: absolute;
    left:90%;
    bottom:2%;
  }


.recipeTitle{
    position: absolute;
    margin-left:5%;
    margin-right:5%;
    object-fit: cover;
    bottom:5px;
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    z-index: 1;
}




.imgButton{
    position: absolute;
    left:0;
    height:100% ;
    width: 100%;
    opacity: 0%;
    z-index: 2;
}
