.recipe-text{
    padding-top: 10px;
    
}

.width-scalable{
    width:100%;
    
}


.recipe-form-text{
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px 5px 5px 5px;
    
}
.padder{
    height:100vw;
}
.recipe-form-bottom-padder{
    height:50px;
}
.recipe-form-image{
    position: fixed;
    top:50px;
    width: 100%;
    height:100vw;
    z-index: 0 ;
}
.recipe-form-container{
    
    display: flex;
    flex-direction: column;
}
button{
    color:black;
}
@media screen and (min-width: 700px) {
    .recipe-form-image{
        height:700px;
        width: 700px;
    }
    .padder{
        height:700px;
    }
}
@media screen and (max-width: 250px) {
    .recipe-form-image{   
        height:250px;
    }
    .padder{
        height:250px;
    }

}


.item-entry{
    padding-top:10px;
    z-index: 5;
    position: relative;
    background-color: white;
}