.checkbox {
    position: absolute;
    left:93%;
    bottom:2%;
  }


.recipeTitle{
    position: absolute;
    margin-left:5%;
    margin-right:5%;
    object-fit: cover;
    bottom:5px;
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    z-index: 1;
}


button {
    display: inline-block;
    border: none;
   
    margin: 0;
    text-decoration: none;
   padding: 0;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.imgButton{
    position: absolute;
    left:0;
    height:100% ;
    width: 100%;
    opacity: 0%;
    z-index: 2;
}
